<h1>Form</h1>

<h1> Pets </h1>



<% if @pets.errors.any?%>
    <% @pets.errors.full_messages.each do |error_message| %>
        <p><%= error_message %>
            </p>
    <%end %>
<% end %>


<%= form_with(model: @pets, local:true) do |form| %>
    <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>
    <div>
        <%= form.label :species %>
        <%= form.text_area :species %>
    </div>
    <div>
        <%= form.label :date_of_birth %>
        <%= form.date_field :date_of_birth %>
    </div>
      
    <% @sexes.each do |option| %>
        <div>
            <%= form.label option %>
            <%= form.radio_button :sex, option %>
        </div>
    <% end %>

    <div>
        <%= form.submit %>
    </div>

<% end %>